/Graph$frame.class
/Graph.class
/IR_Project$1.class
/IR_Project$MyCanvas$1.class
/IR_Project$MyCanvas$2.class
/IR_Project$MyCanvas$3.class
/IR_Project$MyCanvas$4.class
/IR_Project$MyCanvas$5.class
/IR_Project$MyCanvas$6.class
/IR_Project$MyCanvas$7.class
/IR_Project$MyCanvas.class
/IR_Project.class
/ImageDisplay.class
/Pic.class
/Sorter.class
/Sorter_ColorMean$DistComparator.class
/Sorter_ColorMean.class
/Sorter_ColorMean2$DistComparator.class
/Sorter_ColorMean2.class
/TestAlgorithm.class
